html, body {
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
  font-family: 'Inconsolata', monospace;
  font-weight: 500;
  color: rgb(200, 200, 200);
  background-color: rgb(50, 50, 50);
  overflow-x: hidden;
}

input, select, textarea, button {
  font-family: inherit;
}

input {
  border: 0;
}

input:focus {
  outline-width: 0;
}

/* TODO Style scrollbar */
.noselect {
  user-select: none;
}

.templates {
  display: none;
}

#content {
  display: flex;
  flex-direction: column;
}

#dir-path-form {
  display: flex;
  align-items: center;
  background-color: white;
  justify-content: space-between;
  height: 35px;
}

#dir-path-icon {
  font-size: 1.5em;
  padding: 0 10px;
}

#dir-path-divider {
  border-left: 1px solid black;
  margin: 0;
  height: 100%;
}

#dir-path-input {
  margin: 0;
  font-size: 16px;
  background: transparent;
  flex: 1;
  padding-left: 15px;
}

#dir-items {
  display: flex;
  border-bottom: 1px solid rgb(100,100,100);
}

#dir-items>:not(:first-child){
  border-left: 1px solid rgb(100,100,100);
}

#name-box{
  flex: 1;
}

#type-box{
  width: 150px
}

#size-box{
  width: 100px;
}

#modified-box{
  width: 150px;
}


.info-header {
  background: rgb(150, 150, 150);
  color: black;
  height: 30px;
  display: flex;
  align-items: center;
  border-left: 1px solid grey;
}

.info-header span {
  padding-left: 15px;
}

.info-box{

}

.file-info {
  white-space: nowrap;
  overflow: hidden;
  padding: 0px 10px;
  height: 30px;
  display: flex;
  align-items: center;
}

.file-icon {
  padding-right: 5px;
}

.file-size{
  padding: 0;
}

.file-size span{
  width: 100%;
  text-align: right;
  padding-right: 10px;
}

.file-modified{
  padding-left: 10px;
}
