html, body {
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
  font-family: 'Inconsolata', monospace;
  font-weight: 500;
  color: rgb(200, 200, 200);
  background-color: rgb(50, 50, 50);
  overflow-x: hidden;
}

input, select, textarea, button {
  font-family: inherit;
}

input{
  border: 0;
}

input:focus{
  outline-width: 0;
}

/* TODO Style scrollbar */
.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.template {
  display: none;
}

.file {
  margin-bottom: -16px;
}

.file :hover {
  background-color: rgb(100, 100, 100);
}

.file p {
  padding: 5px;
}

#dir-path-form {
  display: flex;
  align-items: center;
  background-color: white;
  justify-content: space-between;
  height: 35px;
}

#dir-path-icon {
  font-size: 1.5em;
  padding: 0 10px;
}

#dir-path-divider {
  border-left: 1px solid black;
  margin: 0;
  height: 100%;
}

#dir-path-input {
  margin: 0;
  font-size: 16px;
  background: transparent;
  flex: 1;
  padding-left: 15px;
}
