* {
    box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
  font-family: 'Inconsolata', monospace;
  font-weight: 500;
  color: rgb(200, 200, 200);
  background-color: rgb(50, 50, 50);
  overflow: hidden;
}

input, select, textarea, button {
  font-family: inherit;
}

input {
  border: 0;
}

input:focus {
  outline-width: 0;
}

/* TODO Style scrollbar */
.noselect {
  user-select: none;
}

.templates {
  display: none;
}

#content {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#dir-path-form {
  display: flex;
  align-items: center;
  background-color: white;
  justify-content: space-between;
  height: 35px;
}

#dir-path-icon {
  font-size: 1.5em;
  padding: 0 10px;
}

#dir-path-divider {
  border-left: 1px solid black;
  margin: 0;
  height: 100%;
}

#dir-path-input {
  margin: 0;
  font-size: 16px;
  background: transparent;
  flex: 1;
  padding-left: 15px;
}

.dir-window {
    flex: 1;
    min-height: 0;

    display: flex;
    flex-direction: column;
}

.dir-window ::-webkit-resizer {
  display: none;
}

#info-bar-wrapper {
    width: 100%;
    height: 30px;
    white-space: nowrap;
    overflow-x: scroll;
}

#info-bar-wrapper::-webkit-scrollbar {
    display: none;
}

#info-bar {
    height: 30px;
    display: flex;
    align-items: center;
    background-color: rgb(200, 200, 200);
    color: black;
    width: min-content;
}

#info-bar > * {
    display: flex;
    align-items: center;
    padding: 0px 10px;
    overflow: hidden;
    white-space: nowrap;
    resize: horizontal;

    width: 200px;
    min-width: 100px;
    height: inherit;
}

#dir-files {
    flex: 1;
    min-height: 0;

    width: 100%;

    display: flex;
    flex-direction: column;
    overflow-x: scroll;
}

.file-row {
    /* border: 1px solid black; */
    min-height: 30px;
    display: flex;
    align-items: center;
    width: min-content;
    border-bottom: 1px solid black;
}

.file-row:hover {
    background-color: rgb(100, 100, 100);
    color: black;
}

.file-row > * {
    display: flex;
    align-items: center;
    padding: 0px 10px;
    overflow: hidden;
    white-space: nowrap;
    resize: horizontal;
    width: 200px;
    min-width: 100px;
}

.file-row span {
    overflow-x: hidden;
}

.file-icon {
    margin-right:5px;
}
